

<div class="row" ng-Controller="welcomeController" ng-init="initializeController()">
  <div class="col-md-12">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption"> <i class="icon-users font-green-sharp"></i> <span class="caption-subject font-green-sharp bold uppercase"> lkp 您好！欢迎您登录管理后台！</span> <span class="caption-helper">上次登录时间:2015-03-18 14:08:30 </span> </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="portlet yellow-crusta box">
            <div class="portlet-title">
              <div class="caption"> <i class="fa fa-cogs"></i>产品统计 </div>
            </div>
            <div class="portlet-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered">
                  <tbody>
                    <tr>
                      <td> 今日新增理财产品：2个 <span class="label label-info label-sm"> New</span></td>
                      <td> 进行中：4个 </td>
                      <td> 已结束：0个 </td>
                      <td> 总产品数：9个 </td>
                    </tr>
                    <tr>
                      <td> 今日新增交易产品：0个 </td>
                      <td> 进行中：0个 </td>
                      <td> 已结束：0个 </td>
                      <td> 总产品数：0个 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="portlet blue-hoki box">
            <div class="portlet-title">
              <div class="caption"> <i class="fa fa-cogs"></i>会员统计 </div>
            </div>
            <div class="portlet-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered">
                  <tbody>
                    <tr>
                      <td> 今日新增会员：1个 </td>
                      <td> 今日完成认证用户：0个 </td>
                      <td> 今日投资用户：0个 </td>
                    </tr>
                    <tr>
                      <td> 累计新增会员：21个 </td>
                      <td> 累计完成认证用户：10个 </td>
                      <td> 累计投资用户：0个 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="portlet red-sunglo box">
            <div class="portlet-title">
              <div class="caption"> <i class="fa fa-cogs"></i>资金统计 </div>
            </div>
            <div class="portlet-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered">
                  <tbody>
                    <tr>
                      <td> 今日充值：600,000.00元 </td>
                      <td> 今日充值数量：3次 </td>
                      <td> 累计充值：1,141,500.00元 </td>
                      <td> 累计数量：19次 </td>
                      <td>累计提现：89,200.00元</td>
                    </tr>
                    <tr>
                      <td> 今日提现：0.00元 </td>
                      <td> 今日提现数量：0次 </td>
                      <td> 今日总手续费：0.00元 </td>
                      <td>总提现数量：7次 </td>
                      <td>累计总手续费：451.00元 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="portlet grey-cascade box">
            <div class="portlet-title">
              <div class="caption"> <i class="fa fa-cogs"></i>银行卡统计 </div>
            </div>
            <div class="portlet-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered">
                  <tbody>
                    <tr>
                      <td> 今日绑定：0个 </td>
                      <td> 累计绑定：7个 <span class="label label-sm label-success"> Available </span></td>
                      <td> 解绑：1个 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="portlet green-meadow box">
            <div class="portlet-title">
              <div class="caption"> <i class="fa fa-cogs"></i>投资统计 </div>
            </div>
            <div class="portlet-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered">
                  <tbody>
                    <tr>
                      <td> 今日投资：0笔 </td>
                      <td> 平台累计投资：17笔 <span class="label label-sm label-success"> Available </span></td>
                      <td> 今日投资率：.00% </td>
                      <td>总投资率：.81% </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
